RewriteEngine On

# Redireciona URLs antigas para URLs amigáveis
RewriteCond %{THE_REQUEST} \s/HTML/login\.html [NC]
RewriteRule ^HTML/login\.html$ /login [R=301,L]

RewriteCond %{THE_REQUEST} \s/HTML/cadastro\.html [NC]
RewriteRule ^HTML/cadastro\.html$ /cadastro [R=301,L]

RewriteCond %{THE_REQUEST} \s/HTML/home\.html [NC]
RewriteRule ^HTML/home\.html$ /home [R=301,L]

RewriteCond %{THE_REQUEST} \s/HTML/adm\.html [NC]
RewriteRule ^HTML/adm\.html$ /adm [R=301,L]

RewriteCond %{THE_REQUEST} \s/HTML/obrigado\.html [NC]
RewriteRule ^HTML/obrigado\.html$ /obrigado [R=301,L]

RewriteCond %{THE_REQUEST} \s/HTML/campanha\.html [NC]
RewriteRule ^HTML/campanha\.html$ /campanha [R=301,L]

# URLs amigáveis
RewriteRule ^login/?$ HTML/login.html [L]
RewriteRule ^cadastro/?$ HTML/cadastro.html [L]
RewriteRule ^home/?$ HTML/home.html [L]
RewriteRule ^adm/?$ HTML/adm.html [L]
RewriteRule ^obrigado/?$ HTML/obrigado.html [L]
RewriteRule ^campanha/?$ HTML/campanha.html [L]